<div class="widget-list" style="cursor: move;">
  <div class="widget-panel-header">
    <div class="header-left">
      <mat-icon>drag_indicator</mat-icon>
      Widgets
    </div>
    <button mat-icon-button (click)="createNewChart()" title="Create New Chart">
      <mat-icon>add_chart</mat-icon>
    </button>
  </div>
  @for(widget of store.widgetsToAdd(); track widget.id) {
    <div cdkDrag class="widget-item" [cdkDragData]="widget.id">
      <div class="drag-handle" cdkDragHandle>
        <mat-icon>drag_indicator</mat-icon>
      </div>
      <span class="widget-label">{{widget.label}}</span>
      <div *cdkDragPlaceholder class="drag-placeholder">
        <mat-icon>drag_indicator</mat-icon>
        <span>{{widget.label}}</span>
      </div>
    </div>
  }
</div>
