<div class="container mat-elevation-z3
" [style.background-color]="data().backgroundColor ?? 'white'" [style.color]="data().color ?? 'inherit'"
cdkDrag
cdkDragPreviewContainer="parent">
  @if (!data().hideTitle) {
    <h3 class="m-0">{{data().label}}</h3>
  }
  <div class="widget-controls" *ngIf="mode === 'edit'">
    <button mat-icon-button class="delete-widget" (click)="store.removeWidget(data().id)" title="Delete Widget">
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-icon-button class="widget-settings" (click)="showOptions.set(true)" title="Widget Settings">
      <mat-icon>tune</mat-icon>
    </button>
    <button mat-icon-button class="chart-settings" (click)="openChartSettings()" title="Chart Settings">
      <mat-icon>bar_chart</mat-icon>
    </button>
  </div>
  <ng-container [ngComponentOutlet]="data().content"
                [ngComponentOutletInputs]="{ sliceId: data().sliceId }"/>

  @if (showOptions() && mode === 'edit'){
    <app-widget-options [(showOptions)]="showOptions" [data]="data()"/>
  }
  <div *cdkDragPlaceholder></div>
</div>
