
<div cdkDropListGroup>
  @if (viewMode() === 'edit') {
  <div class="header">
    <h2>Analytics Dashboard</h2>

    <!-- Mode Toggle: Edit / View -->
    <div class="mode-toggle" style="margin-right: 12px;">
      <mat-button-toggle-group
        [value]="viewMode()"
        (valueChange)="onModeChange($event)"
        aria-label="Dashboard mode">
        <mat-button-toggle value="view">
          <mat-icon>visibility</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="edit">
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>

    </div>


    <button mat-raised-button [disabled]="viewMode() == 'view'"  (click)="widgetsOpen.set(!widgetsOpen())"
    >

      @if(widgetsOpen() ){
        <mat-icon>close</mat-icon>
      } @else {
        <mat-icon>add_circle</mat-icon>
      }
      widget
    </button>
    
    <button mat-icon-button class="theme-btn" (click)="themeSettings.open()" title="Theme Settings">
      <mat-icon>palette</mat-icon>
    </button>

    <mat-menu #widgetmenu="matMenu">
      @for (widget of store.widgetsToAdd(); track widget.id) {
        <button mat-menu-item (click)="store.addWidget(widget)">
          {{widget.label}}
        </button>
      } @empty {
        <button mat-menu-item >
          No widgets to add
        </button>
      }
    </mat-menu>
  </div>
  } @else {
    <div class="view-toggle">
      <mat-button-toggle-group
        [value]="viewMode()"
        (valueChange)="onModeChange($event)">
        <mat-button-toggle value="view">
          <mat-icon>visibility</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle value="edit">
          <mat-icon>edit</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  }
  @if (store.addedWidgets().length > 0){
  <div #dashboard class="dashboard-widgets" >
    @for (w of store.addedWidgets(); track w.id) {
      <app-widget cdkDropList [data]="w" [mode]="viewMode()" (cdkDropListDropped)="drop($event)" [cdkDropListData]="w.id" [cdkDropListDisabled]="viewMode() === 'view'" cdkDropListSortingDisabled>
        <div *cdkDragPlaceholder class="drop-placeholder">
          <mat-icon>swap_horiz</mat-icon>
          <span>Drop here to replace</span>
        </div>
      </app-widget>
    }
    <div cdkDropList></div>
  </div>
  } @else {
    <div #dashboard class="dashboard-widgets"
         cdkDropList
         [cdkDropListData]="-1"
         (cdkDropListDropped)="drop2($event)"
         (cdkDropListEntered)="isDragOver = true"
         (cdkDropListExited)="isDragOver = false"
    >
      @for (w of store.addedWidgets(); track w.id; let i = $index) {
        <app-widget cdkDrag [data]="w" [mode]="viewMode()" [cdkDragData]="w.id" />
        <div class="drop-zone" cdkDropList [cdkDropListData]="i + 0.5" (cdkDropListDropped)="insertAt($event, i + 1)" cdkDropListSortingDisabled>
          <span class="drop-text">Drop between widgets</span>
          <div *cdkDragPlaceholder class="drop-placeholder">
            <mat-icon>add_circle</mat-icon>
            <span>Drop here</span>
          </div>
        </div>
      }
      <div class="end-drop-zone" cdkDropList [cdkDropListData]="store.addedWidgets().length" (cdkDropListDropped)="insertAt($event, store.addedWidgets().length)" cdkDropListSortingDisabled>
        <mat-icon>add_box</mat-icon>
        <span>Drop widget at end</span>
        <div *cdkDragPlaceholder class="drop-placeholder">
          <mat-icon>add_circle</mat-icon>
          <span>Drop here</span>
        </div>
      </div>
      <div class="empty-drop-zone" [class.drag-over]="isDragOver">
        <mat-icon>add_box</mat-icon>
        <span>Drag a widget here</span>
      </div>
    </div>
  }
  
  @if (widgetsOpen() && viewMode() == 'edit'){
    <app-widget-panel
      cdkDropList
      cdkDrag
      [cdkDropListDisabled]="viewMode() === 'view'"
      (cdkDropListDropped)="widgetPutBack($event)"
    />
  }
  
  <app-chart-settings #chartSettings></app-chart-settings>
  <app-confirmation-dialog></app-confirmation-dialog>
  <app-theme-settings #themeSettings></app-theme-settings>
</div>
