@use '@angular/material' as mat;

$gridster-app-theme: mat.define-theme(
  (
    color: (
      theme-type: light,
      primary: mat.$azure-palette
    ),
    typography: (
      brand-family: 'Inter',
      plain-family: 'Inter'
    ),
    density: (
      scale: 0
    )
  )
);

@include mat.core();
@include mat.all-component-themes($gridster-app-theme);

:root {
  @include mat.all-component-themes($gridster-app-theme);
  
  // Override Material Design colors to match our custom properties
  --mdc-filled-button-container-color: var(--primary);
  --mdc-outlined-button-outline-color: var(--outline);
  --mat-toolbar-container-background-color: var(--surface);
}

